# POST TEST 2
## Sephora Website Dataset

##### Nama : Aprisa Idma Mutiara
##### NIM : 2209106001
##### Kelas : A1 22 Kecerdasan Buatan

### Menginport pandas dan membaca file csv

In [1]:
import pandas as pd

df = pd.read_csv('sephora_website_dataset.csv')

### Ketentuan Analisi Data Ke 1
Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [93]:
df.describe()

,id,rating,number_of_reviews,love,price,value_price,online_only,exclusive,limited_edition,limited_time_offer
count,9.168000e+03,9168.000000,9168.000000,9.168000e+03,9168.000000,9168.00000,9168.000000,9168.000000,9168.000000,9168.000000
mean,1.962952e+06,3.990020,282.139180,1.627859e+04,50.063237,51.82359,0.234839,0.264725,0.091841,0.000327
std,3.859714e+05,1.007707,890.642028,4.260651e+04,47.164989,49.45902,0.423921,0.441211,0.288817,0.018087
min,5.000000e+01,0.000000,0.000000,0.000000e+00,2.000000,2.00000,0.000000,0.000000,0.000000,0.000000
25%,1.819453e+06,4.000000,10.000000,1.600000e+03,24.000000,25.00000,0.000000,0.000000,0.000000,0.000000
50%,2.072354e+06,4.000000,46.000000,4.800000e+03,35.000000,35.00000,0.000000,0.000000,0.000000,0.000000
75%,2.230591e+06,4.500000,210.000000,1.380000e+04,59.000000,60.00000,0.000000,1.000000,0.000000,0.000000
max,2.359685e+06,5.000000,19000.000000,1.300000e+06,549.000000,549.00000,1.000000,1.000000,1.000000,1.000000

### Keterangan: 
1. Mean merupakan rata-rata
2. Std merupakan standar deviasi
3. Min merupakan nilai minimum
4. Max merupakan nilai maksimum
5. 25% merupakan kuartil 1(Q1)
6. 50% merupakan kuartil 2 (Q2)
7. 75% merupakan kuartil 3 (Q3)

### Ketentuan Analisi Data Ke 2
Menampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [38]:
df.select_dtypes('int').head(10)

,id,number_of_reviews,love,online_only,exclusive,limited_edition,limited_time_offer
0,2218774,4,3002,1,0,0,0
1,2044816,76,2700,1,0,0,0
2,1417567,26,2600,1,0,0,0
3,1417617,23,2900,1,0,0,0
4,2218766,2,943,1,0,0,0
5,1417609,79,2600,1,0,0,0
6,1638832,79,5000,1,0,0,0
7,1284462,13,719,1,0,0,0
8,2221588,5,800,1,0,0,0
9,2221596,5,2100,1,1,0,0

### Ketentuan Analisi Data Ke 3
Menampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya.

In [116]:
total_records = df.shape[0]
total_attributes = len(df.columns)
attributes = list(df.columns.values)
total_attributes_number = len(df.select_dtypes('int').columns)

info = {
    'Jumlah record': total_records,
    'Jumlah attribute': total_attributes,
    'Nama attribute': attributes,
    'Jumlah attribute bertipe angka': total_attributes_number,
}

for key, value in info.items():
    print(key, ":", value)

Jumlah record : 9168
Jumlah attribute : 21
Nama attribute : ['id', 'brand', 'category', 'name', 'size', 'rating', 'number_of_reviews', 'love', 'price', 'value_price', 'URL', 'MarketingFlags', 'MarketingFlags_content', 'options', 'details', 'how_to_use', 'ingredients', 'online_only', 'exclusive', 'limited_edition', 'limited_time_offer']
Jumlah attribute bertipe angka : 7

### Ketentuan Analisi Data Ke 4
Menampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

In [94]:
df.iloc[1: , 4: ]

,size,rating,number_of_reviews,love,price,value_price,URL,MarketingFlags,MarketingFlags_content,options,details,how_to_use,ingredients,online_only,exclusive,limited_edition,limited_time_offer
1,0.7 oz/ 20 mL,4.5,76,2700,66.0,66.0,https://www.sephora.com/product/colonia-P16360...,True,online only,- 0.7 oz/ 20 mL Spray - 1.7 oz/ 50 mL Eau d...,An elegant timeless scent filled with a fresh-...,no instructions,unknown,1,0,0,0
2,5 oz/ 148 mL,4.5,26,2600,180.0,180.0,https://www.sephora.com/product/blu-mediterran...,True,online only,- 1oz/30mL Eau de Toilette - 2.5 oz/ 74 mL E...,Fragrance Family: Fresh Scent Type: Fresh Citr...,no instructions,Alcohol Denat.- Water- Fragrance- Limonene- Li...,1,0,0,0
3,2.5 oz/ 74 mL,4.5,23,2900,120.0,120.0,https://www.sephora.com/product/blu-mediterran...,True,online only,- 1 oz/ 30 mL Eau de Toilette Spray - 2.5 oz/...,Panarea near Sicily is an an island suspended ...,no instructions,unknown,1,0,0,0
4,5 x 0.16oz/5mL,3.5,2,943,72.0,80.0,https://www.sephora.com/product/colonia-miniat...,True,online only,no options,The Colonia Miniature Set comes in an iconic A...,Suggested Usage:-Fragrance is intensified by t...,Colonia: Alcohol Denat.- Water- Fragrance- Lim...,1,0,0,0
5,5 oz/ 148 mL,4.5,79,2600,180.0,180.0,https://www.sephora.com/product/blu-mediterran...,True,online only,- 1oz/30mL Eau de Toilette - 2.5 oz/ 74 mL E...,Fragrance Family: Floral Scent Type: Fruity Fl...,no instructions,unknown,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9163,no size,2.0,15,6200,6.0,6.0,https://www.sephora.com/product/the-rose-gold-...,True,limited edition · exclusive,no options,What it is: A limited-edition- nurturing and h...,Suggested Usage:-Unfold the mask.-Apply the ma...,-Rose Quartz Extract: Hydrates dry skin. Aqua...,0,1,1,0
9164,3 x 0.32 oz/ 9 g,0.0,0,266,15.0,27.0,https://www.sephora.com/product/sephora-collec...,True,exclusive,no options,What it is: A set of three bestselling Colorfu...,Suggested Usage:-Apply directly to lips using ...,Colorful Gloss Balm Wanderlust: Hydrogenated P...,0,1,0,0
9165,0.946 oz/ 28 mL,0.0,0,445,16.0,16.0,https://www.sephora.com/product/sephora-collec...,True,exclusive,no options,What it is: A weightless complexion booster- i...,Suggested Usage:-Use this product as the last ...,Aqua (Water)- Dimethicone- Isohexadecane- Poly...,0,1,0,0
9166,no size,5.0,46,0,50.0,50.0,https://www.sephora.com/product/gift-card-P370...,False,0,no options,What it is:- Available in denominations of $10...,no instructions,unknown,0,0,0,0
9167,no size,0.0,0,0,50.0,50.0,https://www.sephora.com/product/happy-birthday...,False,0,no options,What it is:\n- Available in denominations of $...,no instructions,unknown,0,0,0,0

### Ketentuan Analisi Data Ke 5
Menampilkan jumlah nilai dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama).

In [118]:
len(df.select_dtypes('object'))

9168